<mat-drawer-container class="h-full">
	<mat-drawer #drawer class="mobile:w-full" mode="over">
	</mat-drawer>

	<div class="page-wrapper h-screen">
		<div class="w-full flex flex-col">
			<div class="bubble right justify-end">
				<p>

					Ok, Thank you Ok, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank youOk, Thank you
				</p>
			</div>
			<div class="bubble left justify-start"> ut labore et dolore magna</div>
		</div>
	</div>
</mat-drawer-container>
