<mat-form-field class="flex flex-grow w-full " appearance="outline">
	<mat-label>{{ label }}</mat-label>
	@if (options.length > 0) {
		<mat-select [formControl]="control" [multiple]="multipleSelection">
			@for (option of options; track option.value) {
				<mat-option [value]="option.value">{{ option.label }}</mat-option>
			}
		</mat-select>
	} @else {
		<input
				matInput
				[placeholder]="label"
				[formControl]="control"
		>
	}
	@if (control.invalid) {
		<mat-error>
			<ng-content select="[errors]"/>
		</mat-error>
	}
</mat-form-field>
