<mat-form-field class="flex flex-grow w-full " appearance="outline">
	<mat-label>{{ label }}</mat-label>
	@if (options.length > 0) {
		<mat-select [formControl]="control" [multiple]="multipleSelection" [compareWith]="compareInterests">
			@for (option of options; track option.code) {
				<mat-option [value]="option">{{ option.label }}</mat-option>
			}
		</mat-select>
	} @else if (type === 'textarea') {
		<textarea
				matInput
				rows="4"
				data-limit-rows="true"
				data-limit-rows-max="4"
				maxlength="400"
				[placeholder]="label"
				[formControl]="control"
		></textarea>
	} @else {
		<input
				matInput
				[placeholder]="label"
				[formControl]="control"
				[type]="type"
				[value]="value"
		>
	}
	@if (control.invalid) {
		<mat-error>
			<ng-content select="[errors]"/>
		</mat-error>
	}
</mat-form-field>
