<app-login-header/>
<div class="content max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
	<form [formGroup]="logInForm" class="basis-40 flex items-center flex-col">
		<mat-form-field appearance="outline">
			<mat-label>Outline form field</mat-label>
			<input matInput placeholder="Outline form field">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Outline form field</mat-label>
			<input matInput placeholder="Outline form field">
		</mat-form-field>
		<app-form-field label="Email" [control]="logInForm.controls.email">
			<ng-container errors>
				@if (logInForm.controls.email.errors) {
					<span>Email is required</span>
				}
			</ng-container>
		</app-form-field>
	</form>
</div>
