/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** tailwind aliases */
.page-wrapper {
  @apply w-full max-w-7xl mx-auto px-4 tablet:px-6 desktop:px-8;
}

.sticky-top {
  @apply sticky top-0 z-10;
}

/**
  * Remove the notched outline border added by Tailwind preflight
 */
.mat-mdc-notch-piece.mdc-notched-outline__notch {
  border-right: none;
}

.mat-drawer {
  border-bottom-right-radius: unset !important;
  border-top-right-radius: unset !important;
}
.page-wrapper {
  @apply w-full h-full max-w-7xl mx-auto px-4 tablet:px-6 desktop:px-8
}