<app-login-header/>
<div class="page-wrapper flex justify-center flex-grow">
	<mat-card class="flex-grow flex max-w-md gap-10">
		<mat-card-header>
			<mat-card-title>Forgot password ?</mat-card-title>
			<mat-card-subtitle>
				Remember your password? <a routerLink="/login" class="text-blue-600 hover:text-blue-400">Login</a>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			@if (token == null) {
				<form [formGroup]="emailForm" class="flex items-center flex-col gap-3">
					<app-form-field class="flex flex-grow w-full" label="Email" [control]="emailForm.controls.email">
						<ng-container errors>
							@if (emailForm.controls.email.hasError('required')) {
								<span>Email is required</span>
							} @else if (emailForm.controls.email.hasError('email')) {
								<span>Email is invalid</span>
							} @else if (emailForm.controls.email.hasError('maxlength')) {
								<span>Email is too long</span>
							}
						</ng-container>
					</app-form-field>
					<app-button
							label="Reset my password"
							[disabled]="emailForm.invalid"
							(clicked)="forgotPassword()"

					/>
					@if (error) {
						<div mat-error class="mat-mdc-form-field-error">
							{{ error }}
						</div>
					}
					@if (emailSent) {
						<div class="text-green-500">
							A link to reset your password has been sent to your email
						</div>
					}
				</form>
			} @else {
				<form [formGroup]="resetPasswordForm" class="flex items-center flex-col gap-3">
					<app-form-field class="flex flex-grow w-full" label="Password" [control]="resetPasswordForm.controls.password">
						<ng-container errors>
							@if (resetPasswordForm.controls.password.hasError('required')) {
								<span>Password is required</span>
							} @else if (resetPasswordForm.controls.password.hasError('minlength')) {
								<span>Password must be at least 8 characters</span>
							} @else if (resetPasswordForm.controls.password.hasError('maxlength')) {
								<span>Password is too long</span>
							} @else if (resetPasswordForm.controls.password.hasError('invalid')) {
								<span>Password is invalid</span>
							} @else if (resetPasswordForm.controls.password.hasError('uppercase')) {
								<span>Password must contain at least one uppercase letter</span>
							} @else if (resetPasswordForm.controls.password.hasError('lowerCase')) {
								<span>Password must contain at least one lowercase letter</span>
							} @else if (resetPasswordForm.controls.password.hasError('number')) {
								<span>Password must contain at least one number</span>
							} @else if (resetPasswordForm.controls.password.hasError('specialChar')) {
								<span>Password must contain at least one special character</span>
							}
						</ng-container>
					</app-form-field>
					<app-form-field class="flex flex-grow w-full" label="Confirm password" [control]="resetPasswordForm.controls.confirmPassword">
						<ng-container errors>
							@if (resetPasswordForm.controls.confirmPassword.hasError('required')) {
								<span>Password is required</span>
							} @else if (resetPasswordForm.controls.confirmPassword.hasError('minlength')) {
								<span>Password must be at least 8 characters</span>
							} @else if (resetPasswordForm.errors?.['mismatch']) {
								<span>Passwords do not match</span>
							} @else if (resetPasswordForm.controls.confirmPassword.hasError('maxlength')) {
								<span>Password is too long</span>
							}
						</ng-container>
					</app-form-field>
					<app-button
							label="Reset my password"
							[disabled]="resetPasswordForm.invalid"
							(clicked)="resetPassword()"
					/>
				</form>
			}
		</mat-card-content>
	</mat-card>
</div>