<header class="w-full flex-grow bg-gray-800 text-white sticky-top">
	<div class="page-wrapper">
		<div class="flex justify-between items-center h-16">
			<!-- Logo -->
			<div class="flex-shrink-0">
				<a href="#" class="text-xl font-bold">Matcha</a>
			</div>
			<!-- Disconnect button-->
			<div class="flex flex-row items-center justify-center">
				<a routerLink="/" class="flex text-red-500 text-md">
					<span class="text-md material-icons">
						logout
					</span>
					Logout
				</a>
			</div>
		</div>
	</div>
</header>