<div class="page-wrapper">
	<form [formGroup]="updateProfileForm">
		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons-outlined">
								manage_accounts
							</span>
							Modify your personal information
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex flex-col text-center ">
					<app-form-field
							class="w-full"
							[control]="updateProfileForm.controls.firstName"
							label="FirstName"
							value="John Doe"
					/>
					<app-form-field
							class="w-full"
							[control]="updateProfileForm.controls.lastName"
							label="LastName"
					/>
					<app-form-field
							class="w-full"
							[control]="updateProfileForm.controls.username"
							label="Username"
					/>
					<app-form-field
							class="w-full"
							[control]="updateProfileForm.controls.email"
							label="Email"
					>
						<ng-container errors>
							@if (updateProfileForm.controls.email.hasError('email')) {
								<span>Email is invalid</span>
							}
						</ng-container>
					</app-form-field>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons">face</span>
							Modify your profile picture
						</div>
					</mat-card-title>
				</mat-card-header>
				<app-image-uploader ngDefaultControl [formControl]="updateProfileForm.controls.profilePicture"
									class="flex flex-grow justify-center w-full"/>
			</mat-card>
		</div>
		<div class="update-profile-container">
			<mat-card class="flex-grow flex  gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons-outlined">add_to_photos</span>
							Modify your additional pictures
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex flex-wrap w-full">
					<div class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4">
						<app-image-uploader ngDefaultControl [formControl]="updateProfileForm.controls.picture1"/>
						<app-image-uploader ngDefaultControl [formControl]="updateProfileForm.controls.picture2"/>
						<app-image-uploader ngDefaultControl [formControl]="updateProfileForm.controls.picture3"/>
						<app-image-uploader ngDefaultControl [formControl]="updateProfileForm.controls.picture4"/>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons">event</span>
							Date of birth
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex w-full text-center ">
					<app-date-picker [control]="updateProfileForm.controls.birthdate"/>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<div>
								<span class="material-icons">male</span>
								<span class="material-icons">female</span>
							</div>
							Gender and sexual orientation
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="w-full">
					<div class="flex flex-col mb-5">
						<span class="text-left text-sm">Select your gender: </span>
						<mat-radio-group [formControl]="updateProfileForm.controls.gender" class="flex justify-center"
										 aria-label="Select an option">
							<mat-radio-button value="{{GenderEnum.MALE}}">Male</mat-radio-button>
							<mat-radio-button value="{{GenderEnum.FEMALE}}">Female</mat-radio-button>
						</mat-radio-group>
					</div>

					<div class="flex flex-wrap flex-col">
						<span class="text-left text-sm">Select your sexual orientation: </span>
						<mat-radio-group [formControl]="updateProfileForm.controls.sexualPreference"
										 class="flex flex-wrap justify-center" aria-label="Select an option">
							<mat-radio-button value="{{SexualPreferenceEnum.HETEROSEXUAL}}">Straight</mat-radio-button>
							<mat-radio-button value="{{SexualPreferenceEnum.HOMOSEXUAL}}">Homosexual</mat-radio-button>
							<mat-radio-button value="{{SexualPreferenceEnum.BISEXUAL}}">Bisexual</mat-radio-button>
						</mat-radio-group>
					</div>

				</mat-card-content>
			</mat-card>
		</div>

		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons-outlined">description</span>
							Modify your profile description
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="w-full">
					<app-form-field
							type="textarea"
							class="w-full flex"
							[control]="updateProfileForm.controls.description"
							label="Tell us more about yourself..."
					/>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons-outlined">interests</span>
							Modify your interests
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="w-full">
					<app-form-field
							class="w-full"
							[label]="'Interests'"
							[control]="updateProfileForm.controls.interests"
							[options]="interests"
							[multipleSelection]="true"
					/>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="update-profile-container">
			<mat-card class="flex-grow flex max-w-xl gap-10 items-center">
				<mat-card-header>
					<mat-card-title class="items-center">
						<div class="flex items-center gap-2">
							<span class="material-icons-outlined">location_on</span>
							Modify your location
						</div>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="w-full">
					<app-address-picker [control]="updateProfileForm.controls.location"/>
				</mat-card-content>
			</mat-card>
		</div>

		<div class="update-profile-container text-center">
			<app-button
					class="w-full"
					[disabled]="updateProfileForm.invalid"
					(clicked)="completeProfile()"
					label="Save changes"
			/>
		</div>
	</form>
</div>